/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Poppins', sans-serif;*/
    outline: none; border:none;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--panel-color);
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}

.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

 
.menu-items li a:hover i,
.menu-items li a:hover .link-name{
    color: var(--primary-color);
}

.link-name .active{
    color: #0E4BF1;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
    border-radius: 50%;
}
.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}
.boxes .box i{
    font-size: 35px;
    color: var(--text-color);
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box.box2{
    background-color: var(--box2-color);
}
.boxes .box.box3{
    background-color: var(--box3-color);
}
.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activity-data{
    display: flex;
}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
  
th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}
  
th {
    background-color: #0e87f1;
    color: white;
}

.btn.btn-outline-danger {
    color: #dc3545; /* màu chữ */
    background-color: transparent; /* màu nền */
    border-color: #dc3545; /* màu viền */
    padding: .375rem .75rem; /* khoảng cách giữa nội dung và viền của nút */
    font-size: 1rem; /* kích thước chữ */
    line-height: 1.5; /* độ dày dòng chữ */
    border-radius: .25rem; /* bo tròn các góc của nút */
    text-decoration: none; /* tắt chức năng gạch chân */
    border: 1px solid red; /* thêm viền */
}
  
.btn.btn-outline-danger:hover {
    color: #fff; /* màu chữ khi rê chuột vào */
    background-color: #dc3545; /* màu nền khi rê chuột vào */
    border-color: #dc3545; /* màu viền khi rê chuột vào */
}

.btn.btn-outline-primary {
    color: #0E4BF1; /* màu chữ */
    background-color: transparent; /* màu nền */
    border-color: #0E4BF1; /* màu viền */
    padding: .375rem .75rem; /* khoảng cách giữa nội dung và viền của nút */
    font-size: 1rem; /* kích thước chữ */
    line-height: 1.5; /* độ dày dòng chữ */
    border-radius: .25rem; /* bo tròn các góc của nút */
    text-decoration: none; /* tắt chức năng gạch chân */
    border: 1px solid blue; /* thêm viền */
}
  
.btn.btn-outline-primary:hover {
    color: #fff; /* màu chữ khi rê chuột vào */
    background-color: #0E4BF1; /* màu nền khi rê chuột vào */
    border-color: #0E4BF1; /* màu viền khi rê chuột vào */
}

.btn.btn-outline-success {
    color: black; /* màu chữ */
    background-color: transparent; /* màu nền */
    border-color: green; /* màu viền */
    padding: .375rem .75rem; /* khoảng cách giữa nội dung và viền của nút */
    font-size: 1rem; /* kích thước chữ */
    line-height: 1.5; /* độ dày dòng chữ */
    border-radius: .25rem; /* bo tròn các góc của nút */
    text-decoration: none; /* tắt chức năng gạch chân */
    border: 1px solid green; /* thêm viền */
}
  
.btn.btn-outline-success:hover {
    color: #fff; /* màu chữ khi rê chuột vào */
    background-color: green; /* màu nền khi rê chuột vào */
    border-color: green; /* màu viền khi rê chuột vào */
}

.wrapper .button{
    display: inline-block;
    height: 40px;
    width: 40px;
    
    margin: 0 5px;
    overflow: hidden;
    background: #e6e3e3;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    text-decoration: none;
  }
  .wrapper .button:hover{
    width: 150px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 40px;
    box-sizing: border-box;
    line-height: 40px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) .icon{
    background: #4267B2;
  }
  .wrapper .button:nth-child(2) .icon{
    background: #E1306C;
  }
  .wrapper .button:nth-child(3) .icon{
    background: #333;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #E1306C;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: #333;
  }
  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 40px;
    transition: all 0.3s ease-out;
    color: #fff;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    color: #4267B2;
  }
  .wrapper .button:nth-child(2) span{
    color: #E1306C;
  }
  .wrapper .button:nth-child(3) span{
    color: #333;
  }

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-group label {
    width: 100px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .form-control {
    width: 100%;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: box-shadow ease-in-out .15s, border-color ease-in-out .15s;
    transition: box-shadow ease-in-out .15s, border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  }

  #radio1 {
    transform: scale(2); /* tăng kích thước radio lên 2 lần */
  }
  #radio2 {
    transform: scale(2); 
  }
  #radio2:checked {
    transform: scale(2);
    background-color: orange;
  }

  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
  .alert-danger a {
    color: #721c24;
    text-decoration: underline;
  }
  .alert-danger hr {
    border-top-color: #f1c2c7;
  }
  .alert-danger .alert-link {
    color: #491217;
  }


@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}



/* register */
.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 60px;
    background: #eee;
  }
  
  .form-container form{
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    width: 500px;
  }
  
  .form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:#333;
  }
  
  .form-container form input,
  .form-container form select{
    width: 100%;
    padding:10px 15px;
    font-size: 17px;
    margin:8px 0;
    background: #eee;
    border-radius: 5px;
  }
  
  .form-container form select option{
    background: #fff;
  }
  
  .form-container form .form-btn{
    background: #47aceb;
    color:#fff;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
  }
  
  .form-container form .form-btn:hover{
    background: #4d84e2;
    color:#fff;
  }
  
  .form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color:#333;
  }
  
  .form-container form p a{
    color:#4d84e2;
  }
  
  .form-container form .error-msg{
    margin:10px 0;
    color:#bf1515;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
  }
  .form-container form .complete-msg{
    margin:10px 0;
    color:#4d84e2;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
  }

